@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@layer utilities {
    .no-scrollbar {
        scrollbarWidth: 'none';
        msOverflowStyle: 'none';
        WebkitOverflowScrolling: 'touch';
    }
}